<include file="Public:header"/>
<body>
<div>
    <header>
        <div class="gwc_bt">
            <a href="javascript:history.back()" class="gwcdd_fh"><div class="gwcbt_fh"></div></a>
            <div class="gwcbt_mc">绑定新的银行卡</div>
        </div>
    </header>
    <div class="yhkxx xgmm">
        <div>带<font color="red">*</font>号为必填项</div>
        <div>
            <label for=""><font color="red">*</font>持 卡&nbsp; 人</label>
            <input type="text" name="be_username" placeholder="请输入持卡人"/>
        </div>
        <div>
            <label for=""><font color="red">*</font>提款银行</label>
            <input type="text" name="bank_name"   placeholder="请输入提款银行" />
        </div>
        <div>
            <label for="">&nbsp;&nbsp;开户网点</label>
            <input type="text" name="account_addr" placeholder="请输入开户网点" />
        </div>
        <div>
            <label for=""><font color="red">*</font>银行卡号</label>
            <input type="text" name="bank_no" placeholder="请输入银行卡号" />
        </div>
        <div>
            <label for=""><font color="red">*</font>提款密码</label>
            <input type="password" name="tk_pwd" placeholder="请输入提款密码" />
        </div>
        <div class="confirm_btn" onclick="sub()"><span>下一步</span></div>
    </div>
</div>
<script>
    function sub(){

        var bankname = $("input[name='bank_name']").val();
        var be_username = $("input[name='be_username']").val();
        var account_addr = $("input[name='account_addr']").val();
        var bank_no = $("input[name='bank_no']").val();
        var tk_pwd = $("input[name='tk_pwd']").val();

        if(bankname == ""||bankname == null){
            layer.msg('请输入银行名称');
            return false;
        }
        if(be_username == ""||be_username == null){
            layer.msg('请输入持卡人');
            return false;
        }
        if(bank_no == ""||bank_no == null){
            layer.msg('请输入银行卡号');
            return false;
        }
        if(tk_pwd == ""||tk_pwd == null){
            layer.msg('请输入提款密码');
            return false;
        }

        $.post("{:U('Member/addbank')}",{
            bankname:bankname,
            be_username:be_username,
            account_addr:account_addr,
            bank_no:bank_no,
            tk_pwd:tk_pwd,
        },function(data){
            if(data.status==1){
                layer.msg(data.info,{icon:1});
                window.location="/Mobile/Member/withdraw_money";
            }else{
                layer.msg(data.info);
                return false;
            }
        })
    };

</script>
<include file="Public:footer"/>

