<include file="Public:header"/>
<body  style="background-color: #f5f7f6">

<div>
    <header>
        <div class="header_bt">
            <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
            <div class="header_c">实名认证</div>
        </div>
        <div style="height: .74rem;clear: both;"></div>
    </header>
    <div class="xgzfb">
        <div class="xgzfb_top">
            <p>
                <i></i>
                <span>为保障账户安全，实名需使用本人的注册手机号，每个账号只有{$config.cert_num}次实名认证机会</span>
            </p>
        </div>
        <input type="hidden" name="bank_id" value="{$default_bank_id}">

        <div class="xg_c">
            <div class="xg_info write">
                <span>姓名</span>
                <span><input type="text" class="require" name="true_name"  value="" placeholder="请输入姓名"></span>
            </div>
            <div class="xg_info write">
                <span>身份证号</span>
                <span><input type="text" class="require" name="id_card"   value="" placeholder="请输入身份证号"></span>
            </div>
            <div class="xg_info write">
                <span>我的手机</span>
                <span><input type="text"  value="{$phone}" placeholder="请输入我的手机"></span>
            </div>
            <div class="xg_line"></div>
            <div class="xg_info write bank_c">
                <span>所属银行</span>
                <span><input type="text" readonly name="bank"  <if condition="$bank_list">value="{$bank_list[0]['bank_name']}"</if>     style="width: 85%"> <i class="bank_down"></i></span>
            </div>
            <div class="xg_info write">
                <span>银行卡号</span>
                <span><input type="text" class="require"  value="" name="bank_no"  placeholder="请输入银行卡号"></span>
            </div>
            <div class="xg_info write">
                <span>支付宝账号</span>
                <span><input type="text" class="require" value="" name="zfb_no" placeholder="请输入本人支付宝号"></span>
            </div>
            <div class="xg_info write">
                <span>账号昵称</span>
                <span><input type="text" class="require" value="" name="nick_name" placeholder="请输入账号昵称"></span>
            </div>
        </div>
        <p class="bottom_c">我们承诺严密保障你的个人信息安全，请放心填写</p>
    </div>
</div>
<div class="zhezhao_c"></div>
<div class="bank_list" style="display: none">
    <ul>
        <li><span>请选择银行</span></li>
        <if condition="$bank_list">
            <volist name="bank_list" id="v" >
                <li><span>{$v.bank_name}</span> <i data-bank_id="{$v.id}"  <if condition="$key eq 0">class="active"</if>></i></li>
            </volist>
            <else />
            <li><span>暂无银行</span></li>
        </if>

    </ul>
</div>
<div class="xgqr_btn" onclick="sub()">
    提交实名
</div>
<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="index.html">
            <li class="footer_fl">省券</li>
        </a>
        <a href="{:U('Welfare/outindex')}">
            <li class="footer_f2">福利</li>
        </a>
        <a href="{:U('Exchange/buyview')}">
            <li class="footer_f3">
                兑换
            </li>
        </a>

        <a href="b2c_fenlei_01.html">
            <li class="footer_f4">
                开箱
            </li>
        </a>
        <a href="{:U('Member/index')}">
            <li class="footer_f5 footer_active_f5">
                我的
            </li>
        </a>
    </ul>
</div>

<script>
    $(".bank_list").find("li i").click(function () {
        $(this).attr('class','active');
        $(this).closest('li').siblings('li').find('i').attr('class','');
        $(".bank_list").hide();
        $(".zhezhao_c").attr('class','zhezhao_c');
        var bank_name = $(this).prev("span").text();
        $("input[name='bank']").val(bank_name);

        var bank_id = $(this).data('bank_id');
        $("input[name='bank_id']").val(bank_id);

    });
    $(".bank_down").click(function () {
        $(".bank_list").show();
        $(".zhezhao_c").attr('class','zhezhao zhezhao_c');
    });

    function sub(){
        var true_name = $("input[name='true_name']").val();
        var id_card = $("input[name='id_card']").val();
        var bank_id = $("input[name='bank_id']").val();
        var bank_no = $("input[name='bank_no']").val();
        var zfb_no = $("input[name='zfb_no']").val();
        var nick_name = $("input[name='nick_name']").val();

        var check_msg = Utils.check_require($('.xgzfb'));
        if(check_msg.is_require == 0){
            layer.msg(check_msg.msg);
            return false;
        }

        $.post("{:U('Member/cert')}",{
            true_name:true_name,
            id_card:id_card,
            bank_id:bank_id,
            bank_no:bank_no,
            nick_name:nick_name,
            zfb_no:zfb_no
        },function(data){
            if(data.status==1){
                layer.msg(data.info,{icon:1});
                window.setTimeout(function(){
                    window.location="{:U('Member/index')}";
                },1000);
            }else{
                layer.msg(data.info);
                return false;
            }
        })
    };

</script>
<include file="Public:footer"/>