<include file="Public:header"/>
<body>
<div class="mem_bgk">
    <div class="mem_con">
        <span style="display: initial;width: 25%;"><img src="__IMG__/touxiang.png" alt="">{$info.m_user}</span>
        <span>大发娱乐</span><a href="{:U('Login/loginOut')}"><span style="display: inline-flex;">退出 <i></i></span></a>
    </div>
    <div class="yue" style="background-color: #fff;">
        <img src="__IMG__/mem_bgk.png" alt="">
    </div>
    <div class="mem_op">
        <a href="{:U('Member/pay_select_way')}"><span class="cz"><i></i><em>上分</em></span></a>
        <a href="{:U('Member/withdraw_money')}"><span class="tk"><i></i><em>下分</em></span></a>
    </div>
</div>



<include file="Public:footer"/>

