<include file="Public:header"/>
<body>

<div>
    <header>
        <div class="header_bt">
            <div class="header_f"><a href="javascript:history.back()" class=""></a></div>
            <div class="header_c">个人中心</div>
        </div>
        <div style="height: .74rem;clear: both;"></div>
    </header>
    <div class="wd_header">
        <div class="wd_l">
            <input type="hidden" name="is_cert" id="is_cert" value="{$member_info.is_cert}">
            <if condition="$member_info['head_url']">
                <img src="{$member_info['head_url']}" class="wd_head" alt="">
            <else />
                <img src="__IMG__/tx1.png" class="wd_head" alt="">
            </if>

            <div class="wd_user">
                <p>
                    <if condition="$member_info['nick_name']">
                        {$member_info['nick_name']}
                    <else />
                        等风来
                    </if>
                </p>
                <p>推荐码: {$member_info.pid}</p>
            </div>
        </div>
        <a href="{:U('Member/mem_info')}"><em class="wd_r"></em></a>
    </div>
    <div class="wd_br">
        <div class="wd_br_l">
            <div>
                <p>我的VIP特权</p>
                <p><i>开箱折扣、每日分红、淘宝返利等特权</i></p>
            </div>
        </div>
        <div class="wd_br_r">
            <a href="">立即开通</a>
        </div>
    </div>
    <div class="wd_mid">
        <ul>
           <li>
               <a href="{:U('Sys/wallet')}">
                   <img src="__IMG__/qb.png" alt="">
                    <span> 云链钱包</span>
               </a>
           </li>
           <li>
               <a href="{:U('Order/mem_goods')}">
                   <img src="__IMG__/kq.png" alt="">
                   <span>商品卡卷</span>
               </a>
           </li>
           <li>
               <a href="javascript:;" class="day_sign" data-is_sign="{$is_sign}" onclick="sign()">
                   <img src="__IMG__/qd.png" alt="">
                   <span>每日签到</span>
               </a>
           </li>
            <li>
                <a href="{:U('Sys/message')}">
                    <img src="__IMG__/xx.png" alt="">
                    <span>我的消息</span>
                    <i>new</i>
               </a>
            </li>
        </ul>
    </div>
    <div class="wd_line">

    </div>
    <div class="wd_con">
        <div class="wd_con_info">
            <div><a href="wdxx.html"><img src="__IMG__/fh1.png" alt=""><span>每日分红 <em></em></span></a> </div>
            <div><a href="wyqd.html"><img src="__IMG__/rw1.png" alt=""><span>每日任务 <em></em></span></a> </div>
            <div><a href="wdyj.html"><img src="__IMG__/kq1.png" alt=""><span>省券返利 <em></em></span></a> </div>
            <div><a href="{:U('Order/index')}"><img src="__IMG__/rw2.png" alt=""><span>我的订单 <em></em></span></a> </div>
            <div><a href="{:U('invite/index')}"><img src="__IMG__/yq1.png" alt=""><span class="yqhy">邀请好友 <em></em><i class="hot"><i>HOT</i></i></span></a> </div>
            <div><a href="{:U('Help/index')}"><img src="__IMG__/bz1.png" alt=""><span>帮助中心<em></em></span> </a> </div>
            <div><a href="{:U('Login/loginOut')}"><img src="__IMG__/tc1.png" alt=""><span>退出登录 <em></em></span></a> </div>
        </div>
    </div>
</div>

<div class="zhezhao_c"></div>
<div class="mrrw" style="display: none">
    <p class="close"></p>
    <div>
        <i></i>
        <p class="rw_title">锦鲤出现</p>
        <p class="rw_jl">恭喜你翻到<span>0.5云链</span></p>
        <p class="rw_btn">今日任务</p>
    </div>
</div>
<div class="smjl" style="display: none">
    <a href="{:U('Member/cert')}"><img src="__IMG__/tx.png" alt=""></a>
</div>

<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="index.html">
            <li class="footer_fl">省券</li>
        </a>
        <a href="{:U('Welfare/outindex')}">
            <li class="footer_f2">福利</li>
        </a>
        <a href="{:U('Exchange/buyview')}">
            <li class="footer_f3">
                兑换
            </li>
        </a>

        <a href="b2c_fenlei_01.html">
            <li class="footer_f4">
                开箱
            </li>
        </a>
        <a href="{:U('Member/index')}">
            <li class="footer_f5 footer_active_f5">
                我的
            </li>
        </a>
    </ul>
</div>
<script>
    $(".close,.mrrw .rw_btn").click(function () {
        $(".mrrw").hide();
        $(".zhezhao_c").attr("class","zhezhao_c");

    });
    var is_cert = $("#is_cert").val();
    if(is_cert != 1){
        $(".smjl").show();
        $(".zhezhao_c").attr("class","zhezhao_c zhezhao");
    }

    function sign(){
        var is_sign = $(".day_sign").data('is_sign');
        if(is_sign == 1){ //已签到
            layer.msg("今日已签到，明天再来",{icon:1});
            return  false;
        }
        $.post("{:U('Sys/sign')}",{
        },function(data){
            $(".mrrw").show();
            $(".zhezhao_c").attr("class","zhezhao_c zhezhao");
            $(".mrrw").find(".rw_jl").html(data.info);
            $(".day_sign").data('is_sign',1)
//            if(data.status==1){
//                $(".mrrw").show();
//                $(".zhezhao_c").attr("class","zhezhao_c zhezhao");
//                $(".mrrw").find(".rw_jl").html(data.info);
//            }else{
//                layer.msg(data.info);
//                return false;
//            }
        })
    }


</script>
<include file="Public:footer"/>
