<include file="Public:header"/>
<body>

<div>
    <header>
        <div class="header_bt">
            <div class="header_f"><a href="{:U('Member/index')}" class="header_fh"></a></div>
            <div class="header_c">我的资料</div>
        </div>
        <div style="height: .74rem;clear: both;"></div>
    </header>
    <div class="wdzl">
        <div class="wdzl_con">
            <div class="wdzl_head wdzl_line">
                <span>头像</span>
                <span>
                    <i>
                        <if condition="$member_info['head_url']">
                            <img src="{$member_info['head_url']}" class="wd_head" alt="">
                        <else />
                            <img src="__IMG__/tx1.png" class="wd_head" alt="">
                        </if>
                    </i>
                    <em></em>
                </span>
            </div>
            <div class="wdzl_line">
                <span>实名</span>
                <span>{$member_info.true_name}</span>
            </div>
            <div>
                <span>手机号</span>
                <span>{$member_info.phone}</span>
            </div>
            <div>
                <span>银行卡</span>
                <span>{$member_info.bank_no}({$member_info.bank_name})</span>
            </div>
            <div class="wdzl_line">
                <a href="{:U('Member/update_nickname')}">
                    <span>昵称</span>
                    <span>
                    <i>{$member_info.nick_name}</i>
                    <em></em>
                </span>
                </a>
            </div>
            <div>
                <a href="{:U('Member/update_zfb')}">
                    <span>支付宝账号</span>
                    <span>
                    <i>{$member_info.zfb_no}</i>
                    <em></em>
                </span>
                </a>
            </div>
            <div>
                <a href="{:U('Member/update_passwd')}">
                    <span>登录密码</span>
                    <span>
                    <i>修改密码</i>
                    <em></em>
                </span>
                </a>
            </div>
            <div>
                <a href="{:U('Member/update_address')}">
                    <span>收货地址</span>
                    <span>
                    <i>修改地址</i>
                    <em></em>
                </span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="zhezhao_c"></div>
<div class="chose_head" >
    <p class="close"></p>
    <div class="swiper-container chose_head_l" >
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="__IMG__/tx1.png" alt=""><i></i></div>
            <div class="swiper-slide"><img src="__IMG__/tx2.png" alt=""><i></i></div>
            <div class="swiper-slide"><img src="__IMG__/tx3.png" alt=""><i></i></div>
            <div class="swiper-slide"><img src="__IMG__/tx4.png" alt=""><i></i></div>
            <div class="swiper-slide"><img src="__IMG__/tx5.png" alt=""><i></i></div>
            <div class="swiper-slide"><img src="__IMG__/tx6.png" alt=""><i></i></div>
            <div class="swiper-slide"><img src="__IMG__/tx7.png" alt=""><i></i></div>
            <div class="swiper-slide"><img src="__IMG__/tx8.png" alt=""><i></i></div>
            <div class="swiper-slide"><img src="__IMG__/tx9.png" alt=""><i></i></div>
            <div class="swiper-slide"><img src="__IMG__/tx10.png" alt=""><i></i></div>
            <div class="swiper-slide"><img src="__IMG__/tx11.png" alt=""><i></i></div>
            <div class="swiper-slide"><img src="__IMG__/tx12.png" alt=""><i></i></div>
        </div>
    </div>
    <div class="btn" onclick="sub()">确定修改</div>
</div>
<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="index.html">
            <li class="footer_fl">省券</li>
        </a>
        <a href="{:U('Welfare/outindex')}">
            <li class="footer_f2">福利</li>
        </a>
        <a href="{:U('Exchange/buyview')}">
            <li class="footer_f3">
                兑换
            </li>
        </a>

        <a href="b2c_fenlei_01.html">
            <li class="footer_f4">
                开箱
            </li>
        </a>
        <a href="{:U('Member/index')}">
            <li class="footer_f5 footer_active_f5">
                我的
            </li>
        </a>
    </ul>
</div>
<script>
    var mySwiper = new Swiper('.chose_head_l',{
        slidesPerView :'3',
    });
    $(".chose_head_l").find(".swiper-slide").click(function () {
        $(this).attr('class','swiper-slide active');
        $(this).siblings(".swiper-slide").attr('class','swiper-slide');
    });
    function sub(){
        var obj = $(".chose_head_l").find(".swiper-slide[class='swiper-slide active']");
        if(!obj){
            layer.msg('请选择头像');
            return false
        }
        var head_url = obj.find('img').attr('src');
        $.post("{:U('Member/change_head')}",{
            head_url:head_url,
        },function(data){
            if(data.status==1){
                layer.msg(data.info,{icon:1});
                window.setTimeout(function(){
                    window.location="{:U('Member/mem_info')}";
                },1000);
            }else{
                layer.msg(data.info);
                return false;
            }
        })
    };
    $(".chose_head").hide();
    $(".wdzl_head").click(function () {
        $(".chose_head").show();
        $(".zhezhao_c").attr("class","zhezhao_c zhezhao");
    });
    $(".close,.mrrw .rw_btn").click(function () {
        $(".chose_head").hide();
        $(".zhezhao_c").attr("class","zhezhao_c");

    });
</script>
<include file="Public:footer"/>

