<include file="Public:header"/>
<body>
<div>
    <header>
        <div class="gwc_bt">
            <a href="{:U('Member/index')}" class="gwcdd_fh"><div class="gwcbt_fh"></div></a>
            <div class="gwcbt_mc">充值</div>
        </div>
    </header>
    <div class="wycz tkxx">

        <div class="wycz_txt ">
            <ul class="cz_info">
                <li></li>
                <li>
                    <div>
                        <label for=""><span>充值银行</span></label>
                        <input type="text" name="cardnum" id="bank_name" value="{$info.bank_name}" readonly />
                        <span class="copy" data-clipboard-target="#bank_name">复制</span>
                    </div>
                </li>
                <li>
                    <div>
                        <label for=""><span>收款姓名</span></label>
                        <input type="text" name="receipt_name" id="receipt_name" value="{$info.receipt_name}" readonly/>
                        <span class="copy"  data-clipboard-target="#receipt_name">复制</span>
                    </div>
                </li>
                <li>
                    <div>
                        <label for=""><span>收款账户</span></label>
                        <input type="text" name="receipt_account" id="receipt_account" value="{$info.receipt_account}"  readonly/>
                        <span class="copy" data-clipboard-target="#receipt_account">复制</span>
                    </div>
                </li>
                <li>
                    <div>
                        <label for=""><span>开户网点</span></label>
                        <input type="text" name="account_addr"  id="account_addr" value="{$info.account_addr}"  readonly/>
                        <span class="copy" data-clipboard-target="#account_addr">复制</span>
                    </div>
                </li>
                <li class="qrcode">
                    <div>
                        <img src="{:U('Member/qrcodeimg',array('id'=>$info['id']))}" alt="">
                    </div>
                </li>
                <li class="czje">
                    <div>
                        <label for=""> <i></i><span>充值金额</span></label>
                        <input type="text" name="num" readonly value="{$info.num}" />

                    </div>
                </li>
                <li class="ckxm">
                    <div>
                        <label for=""> <i></i><span>存款人姓名</span></label>
                        <input type="text" name="username" readonly value="{$info.username}" />
                    </div>
                </li>
            </ul>

        </div>
        <div class="confirm_btn" onclick="window.location='/Mobile/Member/index'"><span>返回首页</span></div>
    </div>
</div>
<script>
    //必须要初始化 第一种初始化
    var clipboard = new Clipboard('.copy');
    clipboard.on('success', function(e) {
        layer.msg("复制成功",{icon:1});
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
</script>
<include file="Public:footer"/>

