<include file="Public:header"/>
<body>
<div>
    <header>
        <div class="gwc_bt">
            <a href="javascript:history.back()" class="gwcdd_fh"><div class="gwcbt_fh"></div></a>
            <div class="gwcbt_mc">充值</div>
        </div>
    </header>
    <div class="wycz tkxx">
        <p class="mem_info">
            <!--<span>账户：<em>{$info.m_user}</em></span>-->
            <!--<span>余额：<em>{$info.rmb}</em></span>-->
        </p>
        <div class="wycz_txt ">
            <div class="cz_title">
                <i></i><span>快速入款</span>
            </div>
            <ul class="cz_con">
                <volist name="pay_way" id="vo">
                    <li>
                        <img src="{$vo.logo_img}" alt="">
                        <span>充值金额范围(50-49999)元</span>
                        <span class="check" data-arr='{$vo|json_encode}'><i class="f"><i class="l"></i></i></span>
                    </li>

                </volist>
                <li class="kefu">
                    <a href="{$config.online_kefu}" target="_blank">申请活动/救援金链接客服</a>
                </li>

            </ul>

            <ul class="cz_info" style="display: none">
                <li class="line_bank">
                    <div>
                        <label for=""><span>充值银行</span></label>
                        <input type="text" name="bank_name" readonly id="bank_name" value="" placeholder=""/>
                        <span class="copy" data-clipboard-target="#bank_name">复制</span>
                    </div>
                </li>
                <li class="line_bank">
                    <div>
                        <label for=""><span>收款姓名</span></label>
                        <input type="text" name="receipt_name" readonly id="receipt_name" value="" placeholder=""/>
                        <span class="copy" data-clipboard-target="#receipt_name">复制</span>
                    </div>
                </li>
                <li class="outline_bank">
                    <div>
                        <label for=""><span>收款账户</span></label>
                        <input type="text" name="receipt_account" readonly id="receipt_account" value="" placeholder=""/>
                        <span class="copy" data-clipboard-target="#receipt_account">复制</span>
                    </div>
                </li>
                <li class="outline_bank">
                    <div>
                        <label for=""><span>开户网点</span></label>
                        <input type="text" name="account_addr" readonly id="account_addr" value="" placeholder=""/>
                        <span class="copy" data-clipboard-target="#account_addr">复制</span>
                    </div>
                </li>
                <li class="qrcode online_bank">
                    <div>
                        <img src="" id="url" alt="">
                    </div>
                </li>
                <li class="czje line_bank">
                    <div>
                        <label for=""> <i></i><span>充值金额</span></label>
                        <input type="text" name="charge_num" value="" placeholder="请输入充值金额"/>

                    </div>
                </li>
                <li class="ckxm line_bank">
                    <div>
                        <label for=""> <i></i><span>存款人姓名</span></label>
                        <input type="text" name="charge_username" value="" placeholder="请输入存款人姓名"/>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tk_con1 outline_bank" style="display: none">
            <p>贴心提醒：充值完成后，请静待3-5分钟重新刷新页面，财务收到款项后会立即为您上分。</p>
            <p>支持网银转账，ATM转账，银行柜台汇款</p>
        </div>
        <div class="tk_con1 online_bank" style="display: none">
            <p>贴心提醒：收款账号、收款姓名和二维码会不定期更换，请在获取页面最新信息后在进行充值，以避免充值无法到账。<br>
                "充值金额"若与转帐金额不符，充值将无法准确到账。
            </p>
            <p>支持微信/支付宝二维码扫描</p>
        </div>
        <input type="hidden" name="receipt_id" id="receipt_id">
        <div class="confirm_btn" onclick="sub()"><span>确认提交</span></div>
    </div>
</div>
<script>
    function sub(){

        var charge_num = $("input[name='charge_num']").val();
        var charge_username = $("input[name='charge_username']").val();
        var receipt_id = $("input[name='receipt_id']").val();


        if(charge_num == ""||charge_num == null){
            layer.msg('请输入充值金额');
            return false;
        }
        if(charge_username == ""||charge_username == null){
            layer.msg('存款人姓名');
            return false;
        }
        if(charge_num < 50){
            layer.msg('最小充值金额不能少于50.00');
            return false;
        }
        $.post("{:U('Member/pay_select_way')}",{
            charge_num:charge_num,
            charge_username:charge_username,
            receipt_id:receipt_id,
        },function(data){
            if(data.status==1){
                var record_id = data.data;
                layer.msg(data.info,{icon:1});
                window.location="/Mobile/Member/pay_success?id="+record_id;
            }else{
                layer.msg(data.info);
                return false;
            }
        })
    };
    
    $(".cz_con").find("li .check").click(function () {
        var self = $(this);
        self.closest('li').siblings('li').find('.check').find('.f').attr("class",'f');
        self.closest('li').siblings('li').find('.check').find('.l').attr("class",'l');
        self.find(".f").attr("class",'f factive');
        self.find(".l").attr("class",'l lactive');

        var arr = $(this).data('arr');
        if(arr){
            var type = arr.type,
                bank_name =  arr.bank_name,
                receipt_name =  arr.receipt_name,
                receipt_account =  arr.receipt_account,
                account_addr =  arr.account_addr,
                id =  arr.id;
            console.log(type);
            $("#bank_name").val(bank_name);
            $("#receipt_name").val(receipt_name);
            $("#receipt_account").val(receipt_account);
            $("#account_addr").val(account_addr);
            $("#receipt_id").val(id);
            var url = "/Mobile/Member/qrcodeimg1?id="+id;
            $("#url").attr('src',url);

            $(".line_bank").show();
            $(".cz_info").show();
            if(type == 3){ /*银行卡*/
                $(".outline_bank").show();
                $(".online_bank").hide();

            }else{ /**/
                $(".online_bank").show();
                $(".outline_bank").hide();
            }
        }
    });
    //必须要初始化 第一种初始化
    var clipboard = new Clipboard('.copy');
    clipboard.on('success', function(e) {
        layer.msg("复制成功",{icon:1});
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });

</script>
<include file="Public:footer"/>

