<include file="App/Admin/View/Public/left.html"/>
    <style>
        .glyphicon-minus:before {
            content: "\2212";
        }
        .glyphicon {
            position: relative;
            top: 1px;
            display: inline-block;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
        }
    </style>
     <script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor.js"></script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor/plugins/prettify.js"></script>
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">商品管理</span></div>
        </div>
        <div class="result-wrap">
            <form action="{:U('Good/edit')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                <input type="hidden" value="{$info.id}" name="id">
                <div class="config-items">
                    <div class="config-title">
                        <h1><i class="icon-font">&#xe00a;</i>商品编辑</h1>
                    </div>
                    <div class="result-content">
                        <table width="100%" class="insert-tab">
                            <tbody>
                                <tr>
                                    <th><i class="require-red">*</i>选择商品类型：</th>
                                    <td>
                                        <select name="type_id" id="t_v"  style="width: 150px;" class="common-text">
                                            <volist name="type_list" id="t_v">
                                                <option value="{$t_v.id}" <if condition="$info['type_id'] eq $t_v['id']">selected</if>>{$t_v.type_name}</option>
                                            </volist>
                                        </select>
                                    </td>
                                </tr>
                                 <tr>
                                    <th><i class="require-red">*</i>商品名称</th>
                                    <td><input type="text" id="" value="{$info.good_name}" size="85" name="good_name" class="common-text"></td>
                                </tr>
                                <tr>
                                    <th><i class="require-red">*</i>简介</th>
                                    <td><input type="text" id="" value="{$info.good_title}" size="85" name="good_title" class="common-text"></td>
                                </tr>
                                <tr>
                                    <th><i class="require-red">*</i>选择币种</th>
                                    <td>
                                        <select name="currency_id" style="width: 150px;" id="currency_id" class="common-text" >
                                            <volist name="cur_list" id="c_v">
                                                <option value="{$c_v.currency_id}" <if condition="$info['currency_id'] eq $c_v['currency_id']">selected</if>   >{$c_v.currency_name}</option>
                                            </volist>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th><i class="require-red">*</i>价格</th>
                                    <td><input type="text" id="" value="{$info.price}" size="85" name="price" class="common-text"></td>
                                </tr>
                                <tr>
                                    <th><i class="require-red">*</i>封面</th>

                                    <td><input id="logo" name="logo" type="file" value="{$info.logo}"  class="common-text">
                                        <input  name="oldlogo" type="hidden" value="{$info.logo}"  class="common-text">
                                        <if condition="$info['logo']">
                                            <img src="{$info['logo']}" style="width: 80px;height: 80px" alt="">
                                        </if>
                                    </td>
                                </tr>

                                <tr class="spec_cfg">
                                    <th><i class="require-red">*</i>规格</th>
                                    <td>
                                        <input type="text" id="" value="{$info.spec_name}" size="30"  placeholder="规格名称" name="spec_name" class="common-text">
                                        <a href="javascript:void(0);" id="addspec" type="button" class="btn btn-primary  mr10">添加规格参数</a>
                                    </td>
                                </tr>
                                <if condition="$info['spec_val']">
                                    <volist name="info['spec_val']" id="v">
                                        <tr class="spec_cfg">
                                            <th></th>
                                            <td>
                                                规格参数:&nbsp;<input id="microtime_val" name="spec_val[]" type="text" value="{$v}"  class="common-text">
                                                <button class="col-md-2 btn btn-sm btn-danger btnDelSpec" type="button" style="border-radius:50% !important;width:30px;height:30px;padding:0;">
                                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </volist>
                                </if>
                                <tr>
                                    <th><i class="require-red">*</i>排序</th>
                                    <td><input type="text" id="sort" value="{$info.sort}" size="85" name="sort" class="common-text">
                                    </td>
                                </tr>
                                <tr>
                                    <th><i class="require-red">*</i>是否兑换</th>
                                    <td>
                                        <select class="common-text" style="width: 150px;" name="is_exchange" id="is_exchange">
                                            <option value="1" <if condition="$info['is_exchange'] eq '1'">selected</if>>是</option>
                                            <option value="0" <if condition="$info['is_exchange'] eq '0'">selected</if>> 否 </option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>商品详情：</th>
                                    <td><textarea id="introduce" name="introduce" cols="30" style="width:800px;height:300px;" rows="10">{$info.introduce}</textarea>
                                        <script>
                                            KindEditor.ready(function(K) {
                                                window.editor = K.create('#introduce');
                                            });
                                        </script>
                                    </td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>
                                        <input type="submit" value="提交" class="btn btn-primary btn6 mr10">
                                        <a href="{:U('Bank/index')}"><input type="button" value="返回"  class="btn btn6"></a>
                                    </td>
                                </tr>
                            </tbody></table>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>

<script>
	KindEditor.ready(function(K) {
		window.editor1 = K.create('#content3');
	});
    $(".result-content").on('click','#addspec',function () {
        var _self = $(this);
        $('.spec_cfg:last').after('<tr class="spec_cfg">'
            +'<th></th>'
            +'<td>'
            +'规格参数:&nbsp;<input id="microtime_val" name="spec_val[]" type="text"  class="common-text">'
            +'<button class="col-md-2 btn btn-sm btn-danger btnDelSpec" type="button" style="border-radius:50% !important;width:30px;height:30px;padding:0;">'
            +'<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>'
            +'</button>'
            +'</td>'
            +'</tr>'
        );
    });

    $(document).on('click',".btnDelSpec",function() {
        $(this).closest('.spec_cfg').remove();
    });

</script>