    <include file="App/Admin/View/Public/left.html"/>
     <script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor.js"></script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor/plugins/prettify.js"></script>
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">商品管理</span></div>
        </div>
        <div class="result-wrap">
            <form action="{:U('Good/typeedit')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                <input type="hidden" value="{$info.id}" name="id">
                <div class="config-items">
                    <div class="config-title">
                        <h1><i class="icon-font">&#xe00a;</i>商品类型编辑</h1>
                    </div>
                    <div class="result-content">
                        <table width="100%" class="insert-tab">
                            <tbody>
                                <tr>
                                    <th><i class="require-red">*</i>类型名称：</th>
                                    <td><input type="text" id="" value="{$info.type_name}" size="85" name="type_name" class="common-text"></td>
                                </tr>
                                <tr>
                                    <th><i class="require-red">*</i>显示排序</th>
                                    <td><input type="text" id="" value="{$info.sort}" size="85" name="sort" class="common-text"><i class="require-red">（在前端显示的排序，数值越小，排序越靠前）</i></td>
                                </tr>
                               <tr>
                             	<tr>
                                    <th><i class="require-red">*</i>上线开关</th>
                                    <td>
                                        <select class="common-text" name="status" id="status">
                                            <option value="1" <if condition="$info['status'] eq '1'">selected</if>>开启</option>
                                            <option value="0" <if condition="$info['status'] eq '0'">selected</if>>关闭</option>
                                        </select>
									</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>
                                        <input type="submit" value="提交" class="btn btn-primary btn6 mr10">
                                        <a href="{:U('Bank/index')}"><input type="button" value="返回"  class="btn btn6"></a>
                                    </td>
                                </tr>
                            </tbody></table>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>

<script>									
	KindEditor.ready(function(K) {
		window.editor1 = K.create('#content3');	
	});
</script>