<include file="Public:header"/>
<body>

<div>
    <header>
        <div class="header_bt">
            <div class="header_f"><a href="javascript:history.back()" class=""></a></div>
            <div class="header_c">商品详情</div>
        </div>
        <div style="height: .74rem;clear: both;"></div>
    </header>
    <div class="fl_item">
        <div class="swiper-container fl_h">
            <div class="swiper-wrapper">
                <volist name="carousel_list" id="vv">
                    <div class="swiper-slide"><img src="{$vv.img}" alt=""></div>
                </volist>
            </div>
            <div class="swiper-pagination"></div><!--分页器。如果放置在swiper-container外面，需要自定义样式。-->
        </div>
    </div>
    <div class="wd_line"></div>
    <div class="fl_c">
        <div class="fl_l">
            <ul>
                <a href="{:U('Welfare/outindex')}"><li>站外福利</li></a>
                <volist name="good_type_list" id="g">
                    <a href="{:U('Welfare/good',array('good_type_id'=>$g['id']))}" ><li <if condition="$goods_info['type_id'] eq $g['id']">class='active'</if>>{$g.type_name}</li></a>
                </volist>
            </ul>
        </div>
        <div class="fl_r">
            <ul>
                <li>
                    <img src="{$goods_info.logo}" alt="">
                    <p class="title">
                        <span style=" font-weight: bold;">{$goods_info.good_name}</span>
                        <span class="desc">{$goods_info.good_title}</span>
                    </p>
                    <p class="price"><span>{$goods_info.price}</span><i></i><em class="dh"  flag="1"></em></p>
                </li>
            </ul>
        </div>
        <div class="spxq">
            {$goods_info.introduce|htmlspecialchars_decode}
        </div>
        <div class="gmsp" style="display: none">
            <input type="hidden" name="price" value="{$goods_info.price}">
            <input type="hidden" name="good_id" value="{$goods_info.id}">
            <i class="close"></i>
            <div class="gmsp_c">
                <img src="{$goods_info.logo}" alt="">
                <p style="height: .9rem">
                    <span class="title">{$goods_info.good_name}</span>
                    <span class="price_t">单价 {$goods_info.price}</span>
                </p>
                <p>
                    <i></i><span class="price sumprice">{$goods_info.price}</span>
                </p>
            </div>
            <div class="gmsl">
                <span>购买数量</span>
                <span><i class="minu">－</i><input type="text" name="num" value="1"><i class="plus">+</i></span>
            </div>
            <p class="gmsl_btn" onclick="sub()">确 定</p>
        </div>
    </div>
</div>


<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="index.html">
            <li class="footer_fl">省券</li>
        </a>
        <a href="{:U('Welfare/outindex')}">
            <li class="footer_f2 footer_active_f2">福利</li>
        </a>
        <a href="{:U('Exchange/buyview')}">
            <li class="footer_f3">
                兑换
            </li>
        </a>

        <a href="b2c_fenlei_01.html">
            <li class="footer_f4">
                开箱
            </li>
        </a>
        <a href="{:U('Member/index')}">
            <li class="footer_f5">
                我的
            </li>
        </a>
    </ul>
</div>

<script>

    function sub(){
        var num = $("input[name='num']").val();
        var good_id = $("input[name='good_id']").val();

        if(parseInt(num)<1){
            layer.msg('数量不能小于1');
            return false;
        }
        $.post("{:U('Welfare/buy_good')}",{
            num:num,good_id:good_id
        },function(data){
            if(data.status==1){
                layer.msg(data.info,{icon:1});
                window.setTimeout(function(){
                    window.location="{:U('Member/mem_goods')}";
                },1000);
            }else{
                layer.msg(data.info);
                return false;
            }
        })
    }


    var mySwiper = new Swiper('.fl_h',{
        pagination: {
            el: '.swiper-pagination',
        },
        loop : true,
        autoplay:true
    });
    $(".dh").click(function () {
        if($(this).attr('flag') == 1){
            $(".gmsp").show();
            $(this).attr('flag',2);
        }else{
            $(".gmsp").hide();
            $(this).attr('flag',1);
        }
    });
    $(".gmsp .close").click(function () {
        $(".gmsp").hide();
        $(".dh").attr('flag',1)
    });
    $("input[name='num']").on('blur',function () {
        var num = $(this).val();
        var price = $("input[name='price']").val();
        if(num == ''){
            $(this).val(1);
            sumprice(price,1);
            return  false;
        }
        if(parseInt(num) < 1){
            layer.msg("数量不能小于1");
            $(this).val(1);
            sumprice(price,1);
            return  false;
        }
        if(parseInt(num) > 10){
            layer.msg("数量不能超过10");
            $(this).val(10);
            sumprice(price,10);
            return  false;
        }
        sumprice(price,parseInt(num));
        $(this).val(parseInt(num));
    });
    function sumprice(price,num) {
        var sumprice = parseInt(price)*num;
        $(".sumprice").text(sumprice.toFixed(2));
    }
    $("input[name='num']").on('input propertychange',function () {
        var num = $(this).val();
        var price = $("input[name='price']").val();

        if(parseInt(num) < 1){
            layer.msg("数量不能小于1");
            $(this).val(1);
            sumprice(price,1);
            return  false;
        }
        if(parseInt(num) > 10){
            layer.msg("数量不能超过10");
            $(this).val(10);
            sumprice(price,10);
            return  false;
        }
        if(num != ''){
            $(this).val(parseInt(num));
            sumprice(price,parseInt(num));
        }
    });
    $(".minu").click(function () {
        var num = $("input[name='num']").val();
        var price = $("input[name='price']").val();

        num = parseInt(num) - 1;
        if(num<1){
            num = 1;
            layer.msg("数量不能小于1");
            $(this).val(num);
            sumprice(price,1);
            return  false;
        }
        $("input[name='num']").val(num);
        sumprice(price,num);
    });
    $(".plus").click(function () {
        var num = $("input[name='num']").val();
        var price = $("input[name='price']").val();

        num = parseInt(num) + 1;
        if(num>10){
            num = 10;
            layer.msg("数量不能超过10");
            $(this).val(num);
            sumprice(price,num);
            return  false;
        }
        $("input[name='num']").val(num)
        sumprice(price,num);
    });

</script>
<include file="Public:footer"/>
