    <include file="App/Admin/View/Public/left.html"/>
     <script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor.js"></script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor/plugins/prettify.js"></script>
    <!--/sidebar-->
    <style>
        .glyphicon-minus:before {
            content: "\2212";
        }
        .glyphicon {
            position: relative;
            top: 1px;
            display: inline-block;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
        }
    </style>
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">兑换设置</span></div>
        </div>
        <div class="result-wrap">
            <form action="{:U('Exchange/config')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                <input type="hidden" value="{$info.id}" name="id">
                <div class="config-items">
                    <div class="config-title">
                        <h1><i class="icon-font">&#xe00a;</i>兑换设置</h1>
                    </div>
                    <div class="result-content">
                        <table width="100%" class="insert-tab">
                            <tbody>
                                <tr>
                                    <th width="15%">交易币种</th>
                                    <td>
                                        <select name="currency_id"   class="common-text w200">
                                            <volist name="cur_list" id="vo">
                                                <option value="{$vo.currency_id}" <if condition="$info['currency_id'] eq $vo['currency_id'] ">selected</if>>{$vo.currency_name}</option>
                                            </volist>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>直接卖，需支付币数量</th>
                                    <td><input type="text" name="sale_rate" class="common-text" value="{$info.sale_rate}"><i class="require-red">（单位：100）</i></td>
                                </tr>
                                <tr>
                                    <th>直接买，到账币数量</th>
                                    <td><input type="text" name="buy_rate" class="common-text" value="{$info.buy_rate}"><i class="require-red">（单位：100）</i></td>
                                </tr>
                                <tr>
                                    <th>挂卖单，需支付币数量</th>
                                    <td><input type="text" name="hang_sale_rate" class="common-text" value="{$info.hang_sale_rate}"><i class="require-red">（单位：100）</i></td>
                                </tr>
                                <tr>
                                    <th>挂买单，到账币数量</th>
                                    <td><input type="text" name="bang_buy_rate" class="common-text" value="{$info.bang_buy_rate}"><i class="require-red">（单位：100）</i></td>
                                </tr>
                                <tr>
                                    <th>交易开放时时间：</th>
                                    <td>
                                        <input type="text" value="{$info.deal_start_time}" name="deal_start_time" class="common-text"> -
                                        <input type="text" value="{$info.deal_end_time}" name="deal_end_time" class="common-text"><i class="require-red">（格式：09:30-24:30）</i
                                    </td>
                                </tr>
                                <tr>
                                    <th>设置单价</th>
                                    <td><input type="text" name="unit_price" class="common-text" value="{$info.unit_price}"><i class="require-red">（单位：1）</i></td>
                                </tr>
                                <tr>
                                    <th>交易数量限额</th>
                                    <td>
                                        <a href="javascript:void(0);" id="addnums" type="button" class="btn btn-primary  mr10">添加</a>
                                    </td>
                                </tr>
                                <tr class="nums_item">
                                    <th></th>
                                    <td>
                                        <volist name="info['num_json']" id="v">
                                            <span class="num_item"><input id="num_val" name="num_val[]" type="text" value="{$v}"  class="common-text btn4 ml10">
                                                <button class="col-md-2 btn btn-sm btn-danger btnDel" type="button" style="border-radius:50% !important;width:30px;height:30px;padding:0;">
                                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                                </button>
                                            </span>
                                        </volist>
                                    </td>
                                </tr>
                                <tr>
                                    <th>失效时间</th>
                                    <td><input type="text" name="invalid_time" class="common-text" value="{$info.invalid_time}"><i class="require-red">（单位：h）</i></td>
                                </tr>
                                <tr>
                                    <th>委托单数量</th>
                                    <td><input type="text" name="limit_order_ticket_nums" class="common-text" value="{$info.limit_order_ticket_nums}"> <i class="require-red">（单位：1）</i></td>
                                </tr>

                             	<tr>
                                    <th>单一交易开关</th>
                                    <td>开启：<input type="radio" name="is_open_single_deal" value="1"  <eq name="info.is_open_single_deal"  value="1">checked="checked"</eq> />
										关闭：<input type="radio" name="is_open_single_deal" value="0"  <eq name="info.is_open_single_deal"  value="0">checked="checked"</eq> />
									</td>
                                </tr>
                                <tr>
                                    <th>交易开关</th>
                                    <td>开启：<input type="radio" name="is_open_deal" value="1"  <eq name="info.is_open_deal"  value="1">checked="checked"</eq> />
                                        关闭：<input type="radio" name="is_open_deal" value="0"  <eq name="info.is_open_deal"  value="0">checked="checked"</eq> />
                                    </td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>
                                        <input type="submit" value="提交" class="btn btn-primary btn6 mr10">
                                        <a href="{:U('Exchange/config')}"><input type="button" value="返回"  class="btn btn6"></a>
                                    </td>
                                </tr>
                            </tbody></table>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>

<script>									
	KindEditor.ready(function(K) {
		window.editor1 = K.create('#content3');	
	});
    $(".result-content").on('click','#addnums',function () {
        var _self = $(this);
        $('.nums_item td').append('<span class="num_item"><input id="num_val" name="num_val[]" type="text"  class="common-text btn4 ml10">'
            +'<button class="col-md-2 btn btn-sm btn-danger btnDel" type="button" style="border-radius:50% !important;width:30px;height:30px;padding:0;">'
            +'<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>'
            +'</button></span>'
        );
    });

    $(document).on('click',".btnDel",function() {
        $(this).closest('.num_item').remove();
    });

</script>