<include file="App/Admin/View/Public/left.html"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">发布管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
            </div>
        </div>
        <div class="result-wrap">
                <div class="result-title">
                    <div class="search-content">
                        <form action="{:U('Exchange/pub')}" method="get">
                            <table class="search-tab">
                                <tr>
                                    <td width="70">手机号码:</td>
                                    <td><input class="common-text" placeholder="关键字" name="phone" value="{$_GET['phone']}" type="text"></td>
                                    <td width="50">归属:</td>
                                    <td>
                                        <select name="type" id="type" class="common-text">
                                            <option value="1" <if condition="$_GET['type'] eq '1'">selected</if> >挂买单</option>
                                            <option value="2" <if condition="$_GET['type'] eq '2'">selected</if>>挂卖单</option>
                                        </select>
                                    </td>
                                    <td><input class="btn btn-primary btn2"  value="查询" type="submit"></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="result-list">
                        <!--<a href="{:U('Currency/edit#2#0')}"><i class="icon-font"></i>新增币种</a>-->
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                        	<th>编号</th>
                            <th>订单号</th>
                            <th>归属</th>
                            <th>发布者手机号</th>
                            <th>币种</th>
                            <th>收款地址</th>
                            <th>价格</th>
                            <th>数量</th>
                            <th>状态</th>
                            <th>发布时间</th>
                            <th>操作</th>
                        </tr>
                        <volist name="list" id="vo" empty="$empty">
                        <tr> 
                        	<td>{$vo.id}</td>
                        	<td>{$vo.order_no}</td>
                            <td><eq name='vo.type' value='1'><span class="red">挂买单</span><else/><span class="blue">挂卖单</span></eq></td>
                            <td>{$vo.phone}</td>
                            <td>{$vo.currency_name}</td>
                            <td>
                                <if condition="$vo['type'] eq 2">
                                    卖单支付宝账号：{$vo.zfb_no},姓名：{$vo.zfb_username}
                                </if>
                            </td>
                            <td>{$vo.price}</td>
                            <td>{$vo.num}</td>
                            <td>
                                <switch name="vo['status']">
                                    <case value="1">发布中（刚发布未产生交易）</case>
                                    <case value="2">进行中（正在交易）</case>
                                    <case value="3">取消挂单（主动买卖家取消挂单）</case>
                                    <case value="4">交易成功</case>
                                    <case value="5">交易失败</case>
                                    <case value="6">冻结中</case>
                                    <case value="7">已下架</case>
                                </switch>
                            </td>
                            <td>{$vo.add_time|date="Y-m-d  H:i:s",###}</td>
                            <td>
                                <!--<a class="link-update" href="{:U('Currency/edit',array('currency_id'=>$vo['currency_id']))}">修改</a>|-->
                                <a class="link-del" href="javascript:void(0)" onclick="down('{$vo.id}')">下架</a><br>
                            </td>
                        </tr>
                        </volist>
                    </table>
                </div>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>
<script>
    function cexiao(id){
        layer.confirm('确定删除吗？', {
            btn: ['确定','取消'], //按钮
            title: '撤销删除'
        }, function(){
            $.post("{:U('Currency/del')}",{id:id,model:"currency"},function(data){
                if(data['status'] == 1){
                    layer.msg(data['info'],{icon:1});
                    setTimeout(function(){location.reload();},1000);
                }else{
                    layer.msg(data['info']);
                }
            })
        }, function(){
            layer.msg('已取消');
        });
    }
function down(id){
	$.post("{:U('Currency/savePrice')}",{id:id,price_up:$("#price_up").val(),price_down:$("#price_down").val()},function(data){
		 if(data<0){
			layer.msg(data.info);
		 }else{
			layer.msg(data.info);
			setTimeout("location.reload()",2000);
		 }
	});
}
</script>