<include file="Public:header"/>
<body>

<div>
    <header>
        <div class="header_bt">
            <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
            <div class="header_c">云链钱包</div>
        </div>
        <div style="height: .74rem;clear: both;"></div>
    </header>
    <div class="ylqb">
       <div class="ylqb_t">当前账号总额为<span style="color: #39556b">{$currency_user.num+$currency_user.forzen_num|default='0.00'}</span>云链</div>
        <div class="ylqb_h">
            <ul>
                <li>
                    <i class="ky"></i>
                    <p class="ylqb_je">{$currency_user.num|default="0.00"}</p>
                    <p class="ylqb_desc"><span>可用余额</span><em></em></p>
                </li>
                <li>
                    <i class="dj"></i>
                    <p class="ylqb_je">{$currency_user.forzen_num|default="0.00"}</p>
                    <p class="ylqb_desc"><span>冻结余额</span><em></em></p>
                </li>
            </ul>
        </div>
        <div class="wd_line"></div>
        <div class="ylqd_shuju">
            <table>
                <tr>
                    <th>数量</th>
                    <th>类型</th>
                    <th>时间</th>
                </tr>
                <tr>
                    <td>+187.64</td>
                    <td>售出商品卡</td>
                    <td>9/25 16:04</td>
                </tr>
                <tr>
                    <td>+8.64</td>
                    <td>签到</td>
                    <td>12/25 24:59</td>
                </tr>
                <tr>
                    <td>-87.64</td>
                    <td>兑换商品卡</td>
                    <td>9/25 16:04</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="index.html">
            <li class="footer_fl">省券</li>
        </a>
        <a href="{:U('Welfare/outindex')}">
            <li class="footer_f2">福利</li>
        </a>
        <a href="{:U('Exchange/buyview')}">
            <li class="footer_f3">
                兑换
            </li>
        </a>

        <a href="b2c_fenlei_01.html">
            <li class="footer_f4">
                开箱
            </li>
        </a>
        <a href="{:U('Member/index')}">
            <li class="footer_f5 footer_active_f5">
                我的
            </li>
        </a>
    </ul>
</div>
<include file="Public:footer"/>
