<include file="Public:header"/>
<body>
<div>
    <header>
        <div class="gwc_bt">
            <a href="javascript:history.back()" class="gwcdd_fh"><div class="gwcbt_fh"></div></a>
            <div class="gwcbt_mc">登录</div>
        </div>
    </header>
    <div class="form-login">
        <form action="">
            <div class="nametext"><i></i><input type="text" placeholder="请输入用户名" id="username" name="username"></div>
            <div class="pwdtext"><i></i><input type="password" placeholder="请输入密码" id="password" name="password"></div>
            <div class="logintext" onclick="sub()"><span>登&nbsp;录</span></div>
            <div class="logintext reg"><a href="{:U('reg/index')}">立即注册</a></div>
            <!--<a href="{:U('Login/forgetpwd')}"><div class="forgetpwd">忘记密码</div></a>-->
        </form>
    </div>
</div>
<script>
    function sub(){
        var username = $("#username").val();
        var password = $("#password").val();

        if(username==""||username==null){
            layer.msg('请输入用户名');
            return false;
        }
        if(password == ""||password == null){
            layer.msg('请输入登录密码');
            return false;
        }
        $.post("{:U('Login/op_login')}",{username:username,pwd:password},function(data){
            if(data.status == 1){
                layer.msg("登录成功",{icon:1});
                window.setTimeout(function(){
                    window.location="{:U('Index/index')}";
                },1000);
            }else{
                layer.msg(data.info);
                return false;
            }
        },"json");
    }
</script>
<include file="Public:footer"/>

