<include file="Public:header"/>
<body>
    <div class="dl">
        <div class="dl_h">
            <i></i>
            <span>云链口袋</span>
        </div>
        <div class="errmsg">
            <!--<i class="tipmsg">找回成功</i>-->
        </div>
        <div class="dl_c">
            <ul>
                <li>
                    <i class="phone"></i>
                    <input type="text" placeholder="请输入手机号码" >
                </li>
                <li>
                    <i class="lock"></i>
                    <input type="password" style="width:78%;" name="password" id="password" placeholder="请输入登录密码" >
                    <em class="eye"></em>
                </li>
                <li>
                    <i class="yqm"></i>
                    <input type="text" placeholder="请输入邀请码" >
                </li>
                <li class="sms_c">
                    <i class="sms"></i>
                    <input  type="text" placeholder="请输入短信码" >
                    <em class="get_code">获取验证码</em><!--重新获取 57-->
                </li>
                <!--<div class="yzmmsg">验证码已发送，请耐心等待</div>-->
            </ul>
            <div class="dl_tips">
                <a class="wjmm" href="{:U('Reg/index')}">立即注册</a>
                <a class="sjdl" href="{:U('Login/index')}">手机登录</a>
            </div>
            <div class="btn">
                <a class="dl_btn">立即注册</a>
            </div>
            <p class="bzzh">
                <i></i>
                <span>重泰保险保你账号安全</span>
            </p>
        </div>
    </div>
    <include file="Public:footer"/>


