   <include file="App/Admin/View/Public/left.html"/>
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">文章管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
            	<!--article_category_id传递文章类型id-->
                <form action="{:U('Art/helpindex')}" method="post" id="myform">
                    <table class="search-tab">
                        <tr>
                            <th width="120">选择分类:</th>
                            <td>

                               <select name="news_id" id="news_id" class="common-text">
                                  <option value="">全部</option>
                                  <volist name="category" id="vo">
                                    <option value="{$vo.id}" <eq name="vo.id" value="$inquire.news_id">selected="selected"</eq>> {$vo.name}</option>
          
                                  </volist>
                                </select>
                            </td>  
                            <th width="70">标题:</th>
                            <td><input class="common-text" placeholder="关键字" name="title" value="{$inquire.news_title}" id="news_title" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
           
                <div class="result-title">
                    <div class="result-list">
                    	<!--article_category_id传递文章类型id-->
                        <a href="{:U('Article/insert#7#0',array('article_category_id'=>6))}"><i class="icon-font"></i>新增文章</a>
                        <a href="{:U('Arttype/insert#7#0')}"><i class="icon-font"></i>新增帮助类别</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>ID</th>
                            <th>标题</th>
                            <th>分类</th>
                            <th>内容</th>
                            <th>阅读量</th>
                            <th>是否置顶</th>
                            <th>更新时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
  						<volist name='info' id='vo'>
                        <tr>
                            <td>{$vo.article_id}</td>
                            <td>{$vo.title}</td>
                            <td>{$vo.name}</td>
                            <td>{$vo.content}</td>
                            <td>{$vo.read_num}</td>
                            <td><eq name="vo.is_top" value="1"><span class="red">是</span><else/>否</eq></td>
                            <td>{$vo.add_time|date='Y-m-d H:i:s',###}</td>
                            <td>
                                <if condition="$vo['status'] eq 1">
                                    开启
                                <else />
                                    <span class="red">关闭</span>
                                </if>
                            </td>
                            <td>												
                                <a class="link-update" href="{:U('Article/insert',array('article_id'=>$vo['article_id'],'article_category_id'=>$vo['parent_id']))}">修改</a>
                                &nbsp;&nbsp;
                                <a class="link-del" href="{:U('Article/delete', array('article_id'=>$vo['article_id']))}" onclick="return confirm('确认删除吗？')">删除</a>
                            </td>                        
                            </tr>
                        </volist>
                       
                    </table>
                    <div class="list-page"> <ul>{$page}</ul></div>
                </div>
        </div>
    </div>
</div>
</body>
</html>
