<include file="Public:header"/>
<body>

<div class="dhsc">
    <header>
        <div class="header_bt">
            <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
            <div class="header_c">购买云链</div><i class="dh_r_help">帮助</i>
        </div>
        <div style="height: .74rem;clear: both;"></div>
    </header>
    <div class="gmyl">
        <div class="gmyl_top">
            <img src="__IMG__/tx1.png" alt="">
            <span  class="uinfo">等风来&nbsp;手机号:18706546846</span>
            <span>交易 2594单 数量 59846云链</span>
        </div>
        <div class="gmyl_d">
            <div class="gmyl_d_item">
                <span class="field">单价</span>
                <span class="cont">1元</span>
            </div>
            <div class="gmyl_d_item">
                <span class="field">数量</span>
                <span class="cont">500云链</span>
            </div>
            <div class="gmyl_d_item">
                <span class="field">付款方式</span>
                <span class="cont"><i></i>支付宝</span>
            </div>
        </div>
    </div>
    <div class="jytx">
        <div class="jytx_h">交易提醒</div>
        <div style="line-height: 20px;">
            <p>1.务必查看对方是否为平台的实名认证信息</p>
            <p>2.请通过平台下单交易切勿私下转账</p>
            <p>3.如遇到交易纠纷，请通过“帮助解决问题”</p>
            <p>4.确认下单后请1小时内完成付款</p>
            <p>5.恶意交易将会被封号</p>
        </div>
    </div>
    <div class="qrxd">
        <div class="qrxd_h">确认下单</div>
        <p>
            <span>需支付</span><em></em>
            <span>500元</span>
        </p>
        <p>
            <span>将获得</span><em></em>
            <span>500云链</span>
        </p>
        <i></i>
    </div>
    <p class="agree"><i class="active"></i>我已经认真看完交易提醒以及清楚交易流程</p>
    <div class="buy_btn">
        立即购买
    </div>
</div>

<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <li class="footer_fl">
            <a href="index.html">
                省券
            </a>
        </li>
        <li class="footer_f2">
            <a href="javascript:;">
                福利
            </a>
        </li>
        <li class="footer_f3 footer_active_f3">
            <a href="b2c_fenlei_01.html">
                兑换
            </a>
        </li>
        <li class="footer_f4">
            <a href="b2c_fenlei_01.html">
                开箱
            </a>
        </li>
        <li class="footer_f5">
            <a href="{:U('Member/index')}">
                我的
            </a>
        </li>
    </ul>
</div>

<script>
    $(".zhezhao_h , .cancel").click(function () {
        $(".wymm").hide();
        $(".zhezhao_h").attr('class','zhezhao_h');
    });

    $(".jia").click(function () {
        $(".zhezhao_h").attr('class','zhezhao zhezhao_h');
        $(".wymm").show();
    })

</script>
<include file="Public:footer"/>
