<include file="Public:header"/>
<body>

<div class="dhsc">
    <header>
        <div class="header_bt">
            <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
            <div class="header_c"><if condition="$pub_info['type'] eq 2">购买<else />卖出</if>{$pub_mem.currency_name}</div><i class="dh_r_help">帮助</i>
        </div>
        <div style="height: .74rem;clear: both;"></div>
    </header>
    <div class="gmyl">
        <div class="gmyl_top">
            <if condition="$pub_mem['head_url']">
                <img src="{$pub_mem['head_url']}" alt="">
             <else />
                <img src="__IMG__/tx1.png" alt="">
            </if>
            <span  class="uinfo">{$pub_mem['nick_name']}&nbsp;手机号:{$pub_mem['phone']}</span>
            <span>交易 {$pub_mem['single_order_num']}单 数量 {$pub_mem['total_num']}{$pub_mem['currency_name']}</span>
        </div>
        <div class="gmyl_d">
            <div class="gmyl_d_item">
                <span class="field">单价</span>
                <span class="cont">{$pub_info['price']}元</span>
            </div>
            <div class="gmyl_d_item">
                <span class="field">数量</span>
                <span class="cont">{$pub_info['num']}{$pub_mem['currency_name']}</span>
            </div>
            <div class="gmyl_d_item">
                <span class="field">付款方式</span>
                <span class="cont"><i></i>支付宝</span>
            </div>
        </div>
    </div>
    <div class="jytx">
        <div class="jytx_h">交易提醒</div>
        <div style="line-height: 20px;">
            <p>1.务必查看对方是否为平台的实名认证信息</p>
            <p>2.请通过平台下单交易切勿私下转账</p>
            <p>3.如遇到交易纠纷，请通过“帮助解决问题”</p>
            <p>4.确认下单后请1小时内完成付款</p>
            <p>5.恶意交易将会被封号</p>
        </div>
    </div>
    <div class="qrxd">
        <div class="qrxd_h">确认下单</div>
        <p>
            <span>需支付</span><em></em>
            <span><if condition="$pub_info['type'] eq 2">{$pub_info['sum_price']}元<else />{$pub_info['num']}{$pub_mem['currency_name']}</if></span>
        </p>
        <p>
            <span>将获得</span><em></em>
            <span><if condition="$pub_info['type'] eq 2">{$pub_info['num']}{$pub_mem['currency_name']}<else />{$pub_info['sum_price']}元</if></span>
        </p>
        <i></i>
    </div>
    <p class="agree"><i class=""></i>我已经认真看完交易提醒以及清楚交易流程</p>
    <div class="buy_btn">
        立即<if condition="$pub_info['type'] eq 2">购买<else />出售</if>
    </div>
</div>
<div class="zhezhao_h"></div>
<div class="dh_tips select_tips" style="display: none">
    <div>
        <p class="title">确认下单</p>
        <p class="con">我已经认真看完交易提醒以及交易流程</p>
        <p>
            <if condition="$pub_info['type'] eq 2">
                我保证将在1小时内完成对卖家的转账，若不能按时转账愿承担交易责任
                <else />
                我保证将我绑定的支付宝信息账号<i style="color:red">{$pub_info['zfb_no']}</i> 是正确并且能收款
            </if>
        </p>
        <p class="tips"><i><em class=""></em></i><span>我确认要<if condition="$pub_info['type'] eq 2">购买<else />卖出</if></span></p>
        <p class="btn"><span class="cancel">取消</span><span class="confirm" onclick="deal_ex({$pub_info['id']},{$pub_info['type']})">确认</span></p>
    </div>
</div>
<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="index.html">
            <li class="footer_fl">省券</li>
        </a>
        <a href="{:U('Welfare/outindex')}">
            <li class="footer_f2">福利</li>
        </a>
        <a href="{:U('Exchange/buyview')}">
            <li class="footer_f3 footer_active_f3">
                兑换
            </li>
        </a>

        <a href="b2c_fenlei_01.html">
            <li class="footer_f4">
                开箱
            </li>
        </a>
        <a href="{:U('Member/index')}">
            <li class="footer_f5">
                我的
            </li>
        </a>
    </ul>
</div>

<script>
    $(".zhezhao_h , .cancel").click(function () {
        $(".dh_tips").hide();
        $(".zhezhao_h").attr('class','zhezhao_h');
    });

    $('.agree').click(function () {
        if($(this).find('i').attr('class') == 'active'){
            $(this).find('i').attr('class','')
        }else{
            $(this).find('i').attr('class','active')
        }
    });

    $('.dh_tips .tips').click(function () {
        if($(this).find('em').attr('class') == 'active'){
            $(this).find('em').attr('class','')
        }else{
            $(this).find('em').attr('class','active')
        }
    });

    $(".buy_btn").click(function () {
        var is_agree = $('.agree').find('i').attr('class');
        if(is_agree != 'active'){
            layer.msg('请进行勾选');
            return false;
        }
        $(".zhezhao_h").attr('class','zhezhao zhezhao_h');
        $(".dh_tips").show();
    });
    function deal_ex(id,type) {
        var is_aggree = $('.dh_tips .tips').find("em").attr('class');
        if(is_aggree != 'active'){
            layer.msg('请二次确认');
            return false;
        }
        if(type == 1){
            type = 2;
        }else{
            type = 1;
        }
        $.post("{:U('Exchange/deal_ex')}",{
            id:id,type:type
        },function(data){
            if(data.status==1){
                var order_id = data.data;
                layer.msg(data.info,{icon:1});
                window.setTimeout(function(){
                    window.location="{:U('Exchange/orderview?order_id="+order_id+"')}";
                },1000);
            }else{
                layer.msg(data.info);
                return false;
            }
        })
    }
</script>
<include file="Public:footer"/>
