<include file="Public:header"/>
<body>

<div class="dhsc">
    <header>
        <div class="header_bt">
            <div class="header_f"><a href="javascript:history.back()" class="dh_l_flag"></a></div>
            <div class="header_c">兑换市场</div><i class="dh_r_flag"></i>
        </div>
        <div style="height: .74rem;clear: both;"></div>
    </header>

    <div class="dhsc_top">
        <ul>
            <li><a href=""><span  class="active">我要买</span></a></li>
            <li><a href=""><span>我要卖</span></a></li>
            <li><a href=""><span>委托单</span></a></li>
            <li><a href=""><span>订单</span></a></li>
        </ul>
    </div>
    <div class="wd_line"></div>
    <div class="buy_cont">
        <ul>
            <li>
                <div class="buy_item">
                    <div class="buy_l">
                        <p class="username"><span>相逢何必成相似</span><i class="level"></i></p>
                        <p class="num">数量&nbsp;&nbsp;100.00云链</p>
                        <p class="num">单价&nbsp;&nbsp;1.00元</p>
                        <p><i class="zfb"></i></p>
                    </div>
                    <div class="buy_r">
                        <p class="username">成交数量/单数&nbsp;&nbsp;30636/59</p>
                        <p class="num">总价</p>
                        <p class="num price">￥100</p>
                        <p><span  class="buy_btn">购买</span></p>
                    </div>
                </div>
                <div class="wd_line"></div>
            </li>
            <li>
                <div class="buy_item">
                    <div class="buy_l">
                        <p class="username"><span>相逢何必成相似</span><i class="level"></i></p>
                        <p class="num">数量&nbsp;&nbsp;100.00云链</p>
                        <p class="num">单价&nbsp;&nbsp;1.00元</p>
                        <p><i class="zfb"></i></p>
                    </div>
                    <div class="buy_r">
                        <p class="username">成交数量/单数&nbsp;&nbsp;30636/59</p>
                        <p class="num">总价</p>
                        <p class="num price">￥100</p>
                        <p><span  class="buy_btn">购买</span></p>
                    </div>
                </div>
                <div class="wd_line"></div>
            </li>
            <li>
                <div class="buy_item">
                    <div class="buy_l">
                        <p class="username"><span>相逢何必成相似</span><i class="level"></i></p>
                        <p class="num">数量&nbsp;&nbsp;100.00云链</p>
                        <p class="num">单价&nbsp;&nbsp;1.00元</p>
                        <p><i class="zfb"></i></p>
                    </div>
                    <div class="buy_r">
                        <p class="username">成交数量/单数&nbsp;&nbsp;30636/59</p>
                        <p class="num">总价</p>
                        <p class="num price">￥100</p>
                        <p><span  class="buy_btn">购买</span></p>
                    </div>
                </div>
                <div class="wd_line"></div>
            </li>
            <li>
                <div class="buy_item">
                    <div class="buy_l">
                        <p class="username"><span>相逢何必成相似</span><i class="level"></i></p>
                        <p class="num">数量&nbsp;&nbsp;100.00云链</p>
                        <p class="num">单价&nbsp;&nbsp;1.00元</p>
                        <p><i class="zfb"></i></p>
                    </div>
                    <div class="buy_r">
                        <p class="username">成交数量/单数&nbsp;&nbsp;30636/59</p>
                        <p class="num">总价</p>
                        <p class="num price">￥100</p>
                        <p><span  class="buy_btn">购买</span></p>
                    </div>
                </div>
                <div class="wd_line"></div>
            </li>
            <li>
                <div class="buy_item">
                    <div class="buy_l">
                        <p class="username"><span>相逢何必成相似</span><i class="level"></i></p>
                        <p class="num">数量&nbsp;&nbsp;100.00云链</p>
                        <p class="num">单价&nbsp;&nbsp;1.00元</p>
                        <p><i class="zfb"></i></p>
                    </div>
                    <div class="buy_r">
                        <p class="username">成交数量/单数&nbsp;&nbsp;30636/59</p>
                        <p class="num">总价</p>
                        <p class="num price">￥100</p>
                        <p><span  class="buy_btn">购买</span></p>
                    </div>
                </div>
                <div class="wd_line"></div>
            </li>
        </ul>
    </div>
</div>
<div class="jia">
    <i></i>
</div>
<div class="zhezhao_h"></div>
<div class="wymm" style="display: none">
    <div class="wymm_con">
        <div class="wymm_h">
            <div class="wymm_h_l">
                <p class="title">购买云链</p>
                <p>单价 <span class="price">￥1</span></p>
            </div>
            <div class="wymm_h_r">
                <i class="coin"></i>
            </div>
        </div>
        <div class="wymm_m">
            <p class="slgm">按数量购买</p>
            <ul>
                <li><span>20YL</span></li>
                <li class="active"><span>50YL</span></li>
                <li><span>100YL</span></li>
                <li><span>100YL</span></li>
                <li><span>500YL</span></li>
                <li><span>1000YL</span></li>
            </ul>
            <p class="sfk">
                <span>实付款</span>
                <span>￥50</span>
            </p>
            <div class="xiadan">
                <a href="javascript:;" class="cancel">取消下单</a>
                <a href="javascript:;" class="confirm">确认下单</a>
            </div>
        </div>
    </div>
</div>

<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <li class="footer_fl">
            <a href="index.html">
                省券
            </a>
        </li>
        <li class="footer_f2">
            <a href="javascript:;">
                福利
            </a>
        </li>
        <li class="footer_f3 footer_active_f3">
            <a href="b2c_fenlei_01.html">
                兑换
            </a>
        </li>
        <li class="footer_f4">
            <a href="b2c_fenlei_01.html">
                开箱
            </a>
        </li>
        <li class="footer_f5">
            <a href="{:U('Member/index')}">
                我的
            </a>
        </li>
    </ul>
</div>

<script>
    $(".zhezhao_h , .cancel").click(function () {
        $(".wymm").hide();
        $(".zhezhao_h").attr('class','zhezhao_h');
    });

    $(".jia").click(function () {
        $(".zhezhao_h").attr('class','zhezhao zhezhao_h');
        $(".wymm").show();
    })

</script>
<include file="Public:footer"/>
