<include file="Public:header"/>
<body>

<div class="dhsc">
    <header>
        <div class="header_bt">
            <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
            <div class="header_c">交易完成(卖)</div><i class="dh_r_help pop_up">投诉</i>
        </div>
        <div style="height: .74rem;clear: both;"></div>
    </header>
   <div class="fkdd">
       <div class="fkdd_c">
            <div class="fkdd_l">
                <p class="money">￥ 500</p>
                <p>单价&nbsp;<span>1元</span></p>
                <p>数量&nbsp;<span>500云链</span></p>
            </div>
           <div class="fkdd_r">
                <i></i>
           </div>
       </div>
       <div class="uinfo">
           <ul>
               <li class="uinfo_h">该订单已经交易完成，余额查询请在云链钱包查看</li>
               <li>
                   <span>对方姓名</span>
                   <span><em>刘德华</em></span>
               </li>
               <li>
                   <span>对方手机号</span>
                   <span><em>18708656464</em><i></i></span>
               </li>
               <li>
                   <span>订单号</span>
                   <span><em>11201910084646</em><i></i></span>
               </li>
               <li>
                   <span>下单时间</span>
                   <span><em>2019-10-08 15:36</em><i></i></span>
               </li>
           </ul>
       </div>

   </div>
</div>

<include file="Public:footer"/>
