<include file="Public:header"/>
<body>

<div class="dhsc">
    <header>
        <div class="header_bt">
            <div class="header_f"><a href="javascript:history.back()" class="dh_l_flag"></a></div>
            <div class="header_c">兑换市场</div><i class="dh_r_flag"></i>
        </div>
        <div style="height: .74rem;clear: both;"></div>
    </header>

    <div class="dhsc_top">
        <ul>
            <li><a href="{:U('Exchange/buyview')}"><span>我要买</span></a></li>
            <li><a href="javascript:;"><span class="active">我要卖</span></a></li>
            <li><a href="{:U('Exchange/orderticket')}"><span>委托单</span></a></li>
            <li><a href="{:U('Exchange/orderview')}"><span>订单</span></a></li>
        </ul>
    </div>
    <div class="wd_line"></div>
    <div class="buy_cont">
        <if condition="$list">
            <ul>
                <volist name="list" id="vo">
                    <li>
                        <div class="buy_item">
                            <div class="buy_l">
                                <p class="username"><span>{$vo.nick_name}</span><i class="level"></i></p>
                                <p class="num">数量&nbsp;&nbsp;{$vo.num}{$vo.currency_name}</p>
                                <p class="num">单价&nbsp;&nbsp;{$vo.price}元</p>
                                <p><i class="zfb"></i></p>
                            </div>
                            <div class="buy_r">
                                <p class="username">成交数量/单数&nbsp;&nbsp;{$vo.total_num}/{$vo.single_order_num}</p>
                                <p class="num">总价</p>
                                <p class="num price">￥{$vo.sum_price}</p>
                                <p><a href="{:U('Exchange/buy_detail',array('id'=>$vo['id']))}"> <span  class="buy_btn">出售</span></a></p>
                            </div>
                        </div>
                        <div class="wd_line"></div>
                    </li>
                </volist>
            </ul>
            <else />
            <div class="no_ex_pub_data">
                <img src="__IMG__/no_ex_data.png" alt="">
                <p class="text">暂时没有订单</p>
            </div>
        </if>
    </div>
</div>
<div class="jia">
    <i></i>
</div>
<div class="no_ex_pub_data limit_tips" style="display: none">
    <img src="__IMG__/no_ex_data.png" alt="">
    <p class="text">暂时没有订单</p>
</div>

<div class="zhezhao_h"></div>
<div class="wymm" style="display: none">
    <input type="hidden" name="sum_price" value="{$num_json[0]*$unit_price}">
    <div class="wymm_con">
        <div class="wymm_h">
            <div class="wymm_h_l">
                <p class="title">卖出云链</p>
                <p>单价 <span class="price" data-unit_price="{$unit_price}" >￥{$unit_price}</span></p>
            </div>
            <div class="wymm_h_r">
                <i class="coin"></i>
            </div>
        </div>
        <div class="wymm_m">
            <p class="slgm">按数量卖出</p>
            <ul>
                <volist name="num_json" id="n">
                    <li  data-num="{$n}"  <if condition="$key eq 0">class="active"</if> ><span>{$n}YL</span></li>
                </volist>
            </ul>
            <p class="sfk">
                <span>实付款</span>
                <span class="sum_price">￥{$num_json[0]*$unit_price}</span>
            </p>
            <div class="xiadan">
                <a href="javascript:;" class="cancel">取消下单</a>
                <a href="javascript:;" class="confirm" onclick="confirm()">确认下单</a>
            </div>
        </div>
    </div>
</div>

<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="index.html">
            <li class="footer_fl">省券</li>
        </a>
        <a href="{:U('Welfare/outindex')}">
            <li class="footer_f2">福利</li>
        </a>
        <a href="{:U('Exchange/buyview')}">
            <li class="footer_f3 footer_active_f3">
                兑换
            </li>
        </a>

        <a href="b2c_fenlei_01.html">
            <li class="footer_f4">
                开箱
            </li>
        </a>
        <a href="{:U('Member/index')}">
            <li class="footer_f5">
                我的
            </li>
        </a>
    </ul>
</div>

<script>
    $(".cancel").click(function () {
        $(".wymm").hide();
        $(".zhezhao_h").attr('class','zhezhao_h');
    });

    $(".jia").click(function () {
        $(".zhezhao_h").attr('class','zhezhao zhezhao_h');
        $(".wymm").show();
    });
    var limit = {$limit};
    console.log(limit);
    if(limit.is_online != 1){
        $(".zhezhao_h").attr('class','zhezhao zhezhao_h');
        $(".no_ex_pub_data").hide();
        $(".limit_tips").show();
        $(".limit_tips .text").text("交易时间为"+limit.deal_start_time+'~'+limit.deal_end_time);
    }
    if(limit.is_open_deal != 1){
        $(".zhezhao_h").attr('class','zhezhao zhezhao_h');
        $(".no_ex_pub_data").hide();
        $(".limit_tips .text").text("暂时不可交易");
    }
    $(".wymm_m").find("ul li").click(function () {
        $(this).attr('class','active');
        $(this).siblings('li').attr('class','');
        var unit_price = $(".wymm_h_l .price").data('unit_price');
        var num = $(this).data('num');

        var sum = parseInt(unit_price)* parseInt(num);
        $(".wymm_con .sum_price").text("￥"+sum);
        $("input[name='sum_price']").val(sum);
    });
    function confirm() {
        var num = $(".wymm_m ul").find("li[class='active']").data('num');
        if(parseInt(num)<0){
            layer.msg('请选择数量');
            return false;
        }
        var unit_price = $(".wymm_h_l .price").data('unit_price');

        $.post("{:U('Exchange/ex_pub')}",{
            unit_price:unit_price,num:num,type:2
        },function(data){
            if(data.status==1){
                layer.msg(data.info,{icon:1});
                window.setTimeout(function(){
                    window.location="{:U('Exchange/orderticket')}";
                },1000);
            }else{
                layer.msg(data.info);
                return false;
            }
        })
    }
</script>
<include file="Public:footer"/>
