<include file="Public:header"/>
<body>

<div class="tousu">
    <header>
        <div class="header_bt">
            <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
            <div class="header_c"></div>
        </div>
        <div style="height: .74rem;clear: both;"></div>
    </header>
    <div class="wyts">
        <p class="wyts_title">申诉</p>
        <div class="wd_line"></div>
        <div class="tsxz select_tips">
            <p class="tips" style="padding-bottom: .25rem;padding-top: .2rem">
                <span><i><em class="active"></em></i><span>我已收到款</span></span>
                <span><i><em class="active"></em></i><span>我未收到款</span></span>
            </p>
        </div>
        <p class="wyts_con_h">对方理由</p>
        <div class="wyts_con_input">
            <textarea name="" id="" placeholder="" >卖家收款信息与平台预留信息不符，付款不成功，希望能取消订单</textarea>
        </div>
        <p class="wyts_con_h">投诉理由</p>
        <div class="wyts_con_input">
            <textarea name="" id="" placeholder="投诉内容字数在10-200字以内不得填写链接等无关的内容" ></textarea>
        </div>

        <div class="wyts_con_input wyts_con">
            <p class="title">交易提醒</p>
            <textarea name="" id="" placeholder="" readonly >提起申诉后资产将会冻结，申诉专员将介入本次交易，直至申诉结束。恶意申诉属于扰乱平台正常运营秩序的行为，情节严重将冻结账户</textarea>
        </div>

    </div>
    <div class="wyts_btn blue">
        确认提交
    </div>
</div>

<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="index.html">
            <li class="footer_fl">省券</li>
        </a>
        <a href="{:U('Welfare/outindex')}">
            <li class="footer_f2">福利</li>
        </a>
        <a href="{:U('Exchange/buyview')}">
            <li class="footer_f3 footer_active_f3">
                兑换
            </li>
        </a>

        <a href="b2c_fenlei_01.html">
            <li class="footer_f4">
                开箱
            </li>
        </a>
        <a href="{:U('Member/index')}">
            <li class="footer_f5">
                我的
            </li>
        </a>
    </ul>
</div>

<script>
    $(".pop_up").click(function () {
        $(".zhezhao_h").attr('class','zhezhao zhezhao_h');
        $(".dh_tips").show();
        $(".dh_tips .tips").find('i').find('em').attr('class','');
        
    });
    $(".cancel").click(function () {
        $(".dh_tips").hide();
        $(".zhezhao_h").attr('class','zhezhao_h');
    })
    $(".dh_tips .tips").find('i').click(function () {
        if($(this).find('em').attr('class') == 'active' ){
            $(this).find('em').attr('class','');
        }else{
            $(this).find('em').attr('class','active')
        }
    })

</script>
<include file="Public:footer"/>
