<include file="Public:header"/>
<body>

<div>
    <header>
        <div class="header_bt">
            <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
            <div class="header_c">分享赚钱</div>
        </div>
        <div style="height: .74rem;clear: both;"></div>
    </header>
   <div class="fxzq">
       <img src="__IMG__/fxzq.png" alt="">
   </div>
</div>

<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <li class="footer_fl">
            <a href="index.html">
                省券
            </a>
        </li>
        <li class="footer_f2">
            <a href="b2c_fenlei_01.html">
                福利
            </a>
        </li>
        <li class="footer_f3">
            <a href="b2c_fenlei_01.html">
                兑换
            </a>
        </li>
        <li class="footer_f4">
            <a href="b2c_fenlei_01.html">
                开箱
            </a>
        </li>
        <li class="footer_f5 footer_active_f5">
            <a href="{:U('Member/index')}">
                我的
            </a>
        </li>
    </ul>
</div>
<script>

    $(".wdxx").find(".xx_r i").click(function () {
         var classname = $(this).attr('class');
         if(classname == 'active'){
             $(this).closest(".xx_c").next(".xx_b").hide();
             $(this).attr("class",'');
         }else{
             $(this).closest(".xx_c").next(".xx_b").show();
             $(this).attr("class",'active');
         }
    });

</script>
<include file="Public:footer"/>