    <include file="App/Admin/View/Public/left.html"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">会员管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="{:U('Member/index')}" method="get">
                    <table class="search-tab">
                        <tr>
                            <td width="70">会员账号:</td>
                            <td><input class="common-text" placeholder="关键字" name="phone" value="{$_GET['phone']}" type="text"></td>
                              <td width="70">会员ID:</td>
                            <td><input class="common-text" placeholder="ID" name="member_id" value="{$_GET['member_id']}" type="text"></td>
                            <td><input class="btn btn-primary btn2"  value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
				
            </div>
        </div>
        <div class="result-wrap">

            <div class="result-title">
                <div class="result-list">
                    <!--<a href="{:U('Member/addMember')}"><i class="icon-font"></i>新增会员</a>-->
                </div>
            </div>
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <tr>
                        <th>ID</th>
                        <th>手机号码</th>
						<th>推荐人ID</th>
						<th>推荐码</th>
                        <th>ip</th>
                        <th>是否实名</th>
                        <th>注册时间</th>
                        <th>最近登录时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    <volist name='list' id='vo'>
                        <tr>
                            <td>{$vo['member_id']}</td>
                            <td>{$vo['phone']}</td>
							<td>{$vo['pid']}</td>
							<td>{$vo['unique_code']}</td>
                            <td>{$vo['ip']}</td>
                            <td>
                                <if condition="$vo['is_cert'] eq 1 ">
                                    已实名
                                    <else />
                                    <span class="red">未实名</span>
                                </if>
                            </td>
                            <td>{$vo['reg_time']|date='Y-m-d H:i:s',###}</td>
                            <td>{$vo['login_time']|date='Y-m-d H:i:s',###}</td>
                            <td>
                                <if condition="$vo['is_lock'] eq 1 ">
                                    锁定
                                <else />
                                    正常
                                </if>
                            </td>
                            <td>
                                <a class="link-update" href="{:U('Member/saveMember#1#0',array('member_id'=>$vo['member_id']))}">修改|</a>
                                <a class="link-del" href="{:U('Member/delMember#1#0',array('member_id'=>$vo['member_id']))}" onclick="return confirm('确认删除吗？')">删除|</a>

                                <if condition="$vo['is_lock'] eq 0">
                                    <a class="link-lock" href="{:U('Member/lockMember',array('member_id'=>$vo['member_id'],'is_lock'=>1))}"  onclick="return confirm('确认禁用吗？')">禁用</a>
                                </if>
                                <if condition="$vo['is_lock'] eq 1">
                                    <a class="link-lock" href="{:U('Member/lockMember',array('member_id'=>$vo['member_id'],'is_lock'=>0))}"  onclick="return confirm('确认解封吗？')">解封</a>
                                </if>
                                <br>
                                <a class="link-update" href="{:U('Member/show_my_invit#1#0',array('member_id'=>$vo['member_id']))}">查看邀请人员|</a>
                                <a class="link-update" href="{:U('Member/show#1#0',array('member_id'=>$vo['member_id']))}">查看会员信息</a><br>
                            </td>
                        </tr>
                    </volist>

                </table>
                <div class="list-page"> <ul>{$page}</ul></div>
            </div>

        </div>
    </div>
    <!--/main-->

</div>
</body>
</html>
