@charset "UTF-8";
/* reset */
html { font-family: 微软雅黑; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;}
*{margin:0;padding:0;}
header,footer,section,article,aside,nav,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
textarea{resize:none;outline: none;overflow: auto}
label,summary{cursor:default;}
del,ins,u,s,a,a:hover{text-decoration:none;outline:none;-webkit-tap-highlight-color:transparent;border:0}
a{  color: #333333;text-decoration:none;outline:none;-webkit-tap-highlight-color:transparent;border:0}
body, textarea, input, button, select, keygen, legend {color: rgb(51, 51, 51);  font-family: 微软雅黑; font-size: .20rem;outline: 0;outline: none;border-radius: 0;}
input,textarea,button{-webkit-appearance: none;-webkit-tap-highlight-color:rgba(0,0,0,0)}/*去除苹果默认样式*/
html{font-size: 62.5%;height: 100%; min-width: 320px; /*min-height: 568px;*/}
body{font-size: .32rem; min-width: 320px; max-width: 7.5rem; height: auto;margin: 0 auto;padding: 0;  background-color: #fff;position: relative; }
.fl{float: left}
.fr{float: right;}
.clear{clear: both;}
.viewport{ width:6.4rem; margin:0 auto; overflow-x:hidden;position: relative;}/*容器*/
header{width: 100%;}
section{width: 100%;}
footer{width: 100%;}
.inline-flex{display: inline-flex;}
.flex1{flex: 1;}
select{background: none;border: 0;}
input{
    box-shadow:none; /*去除阴影*/
    outline: none;/*聚焦input的蓝色边框*/
    resize: none; /*textarea 禁止拖拽*/
    border: none; /*去除边框*/
    -webkit-appearance: none;/*常用于IOS下移除原生样式*/
    -webkit-tap-highlight-color: rgba(0,0,0,0); /*点击高亮的颜色*/
}