<include file="Public:header"/>
<body>
<div>
    <header>
        <div class="gwc_bt">
            <a href="javascript:history.back()" class="gwcdd_fh"><div class="gwcbt_fh"></div></a>
            <div class="gwcbt_mc">注册</div>
        </div>
    </header>
    <div class="form-login">
        <form action="">
            <div class="nametext"><i></i><input type="text" placeholder="请输入用户名" id="username" name="username"></div>
            <div class="pwdtext"><i></i><input type="password" placeholder="请输入密码" id="password" name="password"></div>
            <div class="pwdtext"><i></i><input type="password" placeholder="请重新输入密码" id="repassword" name="repassword"></div>
            <div class="logintext" onclick="sub()"><span>注&nbsp;册</span></div>
            <div class="logintext reg"><a href="{:U('Login/index')}">立即登录</a></div>
            <!--<a href="{:U('Login/forgetpwd')}"><div class="forgetpwd">忘记密码</div></a>-->
        </form>
    </div>
</div>
<script>
    function sub(){
        var username = $("input[name='username']").val();
        var password = $("input[name='password']").val();
        var repwd = $("input[name='repassword']").val();


        if(username == ""||username == null){
            layer.msg('请输入用户名');
            return false;
        }

        if(password == ""||password == null){
            layer.msg('请输入登陆密码');
            return false;
        }
        var pLen = password.length;
        if(pLen < 6 || pLen > 20) {
            layer.msg('密码长度在6-20个字符之间');
            return false;
        }
        if(repwd!= password) {
            layer.msg('登陆密码不一致，请重新输入');
            return false;
        }
        $.post("{:U('Reg/addReg')}",{
            username:username,
            password:password,
            repwd:repwd,
        },function(data){
            if(data.status==1){
                layer.msg("注册成功",{icon:1});
                window.setTimeout(function(){
                    window.location="{:U('Index/index')}";
                },1000);
            }else{
                layer.msg(data.info);
                return false;
            }
        })
    };
</script>
<include file="Public:footer"/>

